/* Global themes */
:root {
    --bg-color-primary: #132d2f;
    --bg-color-secondary: #223b3d;
    font-family: Arial, Helvetica, sans-serif;
    --text-color-primary: #d1c6c3;
    --text-color-secondary: #7f655d;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color-primary);
    margin: 0;
}
/* ... */


/* Navbar */
.navbar-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 8vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 1;
    height: 6vh;
}

.navbar-item {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 3vh;
    padding: 1vh 2vh;
}

#navbar-menu-button {
    padding: 1vh;
}

.navbar-item:hover {
    color: var(--text-color-secondary);
}

#navbar-menu {
    display: none;
    flex-direction: column;
    text-align: right;
    opacity: 1;
    background-color: black;
}

#navbar-list {
    flex-direction: row;
}

@media (min-width: 1px) {
    #navbar-menu-button {
        display: flex;
    }

    #navbar-list {
        display: none;
    }
}

@media (min-width: 801px) {
    #navbar-menu-button {
        display: none;
    }

    #navbar-list {
        display: flex;
    }
}
/* ... */


/* Scroll icon */
#scroll-icon {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 3vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1vh;
}

#scroll-icon:hover {
    color: var(--text-color-secondary);
}
/* ... */


/* Introduction section */
#intro-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--text-color-primary);
    justify-content: flex-start;
}
/* ... */